* {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#chamada {
  text-transform: uppercase;
  color: red;
}

img {
  width: 100%;
}

main {
  max-width: 1120px;
}

#história {
  color: blue;
}

#casais {
color: purple;
}

#familias {
  color: red;
}

#orçamento {
  color: orangered;
}

#finaltext {
  text-align: center;
}

footer {
  text-align: center;
}

#header1 {
  text-align: center;
}

li {
  color: blue;
}